html,
body {
    height: 100%;
}

#linkedin1 {
    /* position: absolute;
    top: 80px;
    right: 10; */
    
    /* position: relative; */
    margin-left: auto;
}

#mainContainer {
    padding: 20px;

    height: 100%;
}

/* #linkedin2 { 

    
}

 #github1 {
    /* width: 100%;
    height: 100%; 
}


#github2 {
    
}

body {
    margin: 0;
} */

#logo2 {
    /* background-image: */
     /* border: solid 2px;  */
     width:150px;
     height: 100%;
    /* border-color: green;*/
}

.nav {
    display: flex;  
    /* width: 100bht; */
    /* height: 10%; */
    width: 100%;
    height: 10%;
    /* border: solid red; */
    background-color:grey;
    gap:500px
}
img{
    width: 50px;
    /* border: solid brown; */
    margin: 10px;


}
#navIcons {
    justify-content: right;
    display: flex;
    height: 100%; 
    width: 50%;
    /* border: solid blue; */
    
}

#mainContainer {
    background-image: linear-gradient(#f7f6de, #fa7e0a, #8f0e0e);
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active)
/* .active {
  background-color: #04AA6D;
} */